SQL;
Structured Query Language is a programing language used to manage and manipulate a relational databases.

Relational Database defines database relationships in the form of tables

SQL: is a programming language used to manage and manipulate relational database

SOME IMPORTANT SQL COMMAND:
1. SELECT 
2. UPDATE is used to modify existing record in a table
3. DELETE is used to delete existing record in a table
4. INSERT INTO
5. CREATE DATABASE
6. ALTER DATABASE
7. CREATE TABLE
8. ALTER TABLE
9. DROP TABLE
10. CREATE INDEX
11. DROP INDEX 

SELECT CLAUSE
Select syntax: select * from Customer;

Select Distinct: is used to return only distinct (different)value.

Select Distinct Syntax: Select Distinct column1 from table_name;

WHERE CLAUSE: is used to filter records

DIFF BTW TEXT FIELD $ NUMERIC FIELD....
Test field are enclosed with quotes, NUMERIC is the opposite.

And and OR comdition are used to filter records base on more than one condition.

ORDER BY: Is used to set result set in ascending or descending order.

NULL VALUE: A field with a null value is a field with no value

Wildcard: is used to substitute one or more character in a string. Wildcard is used with the like operator

Aliases is used to give a table or a column in a table a temporary name.

Aliases exist only for the duration of that query.
AliaseS is useful when there are more than one table in query

INNERJOIN: selects records that have matching value in both sides.

RIGHT JOIN: Returns all the records on the Right table even if their is no matching record on the left table.

CROSS JOIN: It can potentially return a very large set.

A SELF JOIN: is a regular join where the table is joined with itself.

SELECT A.CustomerName AS CustomerNameA, B.CustomerName AS CustomerNameB, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City 
ORDER BY A.City;

Group by statement is often used with aggregate function: count, min, max, etc.

SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;

SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;

SELECT Shippers.ShipperName,COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
GROUP BY ShipperName

HAVING CLAUSE
It was added to SQL because WHERE clause cannot perform aggregate functions

SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
FROM Orders
INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
WHERE LastName = 'Davolio' OR LastName = 'Fuller'
GROUP BY LastName
HAVING COUNT(Orders.OrderID) > 25;

EXISTS OPERATOR
is used to test for the existence of any record in a subquery

SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);

ANY AND ALL OPERATORS
It allows comparison between a single column value and a range of other values

INSECT, INTO, AND SELECT
It copies data from one table and insect into another table.

INSERT INTO Customers (CustomerName, City, Country)
SELECT SupplierName, City, Country FROM Suppliers
WHERE Country='Germany';

SELECT CUSTOMERNAME, PRICEEACH, COUNTRY
FROM Sales_table
WHERE COUNTRY LIKE '%an%';

select CUSTOMERNAME, QUANTITYORDERED, PRICEEACH, COUNTRY
FROM Sales_table
where SALES > 1000 and 	QUANTITYORDERED > 30
order by country
limit 10;

CASE: Case statement Goes through condition and returns a value when the first condition is met,
once a condition is true, it will stop reading and return the result. And when no condition is met, it will return the value in the ELSE Clause.

CASE SYNTAX:    CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    WHEN conditionN THEN resultN
    ELSE result
END;


SELECT OrderID, Quantity,
CASE
    WHEN Quantity > 30 THEN 'The quantity is greater than 30'
    WHEN Quantity = 30 THEN 'The quantity is 30'
    ELSE 'The quantity is under 30'
END AS QuantityText
FROM OrderDetails;

NULL FUNCTION:

IFNULL; this function returns an alternate value if an expression is NULL

SELECT ProductName, UnitPrice * (UnitsInStock + IFNULL(UnitsOnOrder, 0))
FROM Products;

We can use the COALESCE FUNCTION 

SELECT ProductName, UnitPrice * (UnitsInStock + COALESCE(UnitsOnOrder, 0))
FROM Products;

Multi-line comments start with /* and end with */.

Any text between /* and */ will be ignored.

/*Select all the columns
of all the records
in the Customers table:*/
SELECT * FROM Customers;

CREATE DATABASE: The create database is used to create a new SQL database.
Drop Database: is used to delete an existing database.
Create table; CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);
TRUNCATE statements delete all data in a table but not the table itself.

ALTER STATEMENT; Used to add, delete, and modify columns in an existing table.
ALTER TABLE Customers
ADD Email varchar(255);

MYSQL CONSTRAINTS; Ensure that a set data condition is met;
The following constraints are commonly used in SQL:

NOT NULL - Ensures that a column cannot have a NULL value
UNIQUE - Ensures that all values in a column are different
PRIMARY KEY - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table
FOREIGN KEY - Prevents actions that would destroy links between tables
CHECK - Ensures that the values in a column satisfies a specific condition
DEFAULT - Sets a default value for a column if no value is specified
CREATE INDEX - Used to create and retrieve data from the database very quickly

CHECK CONSTRAINST: Is used to limit the value of range that can be placed in a cloumn.

CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    City varchar(255),
    CONSTRAINT CHK_Person CHECK (Age>=18 AND City='Sandnes')


    DEFAULT CONSTRAINST: Used to set default value for a column.

    CREATE TABLE Orders (
    ID int NOT NULL,
    OrderNumber int NOT NULL,
    OrderDate date DEFAULT CURRENT_DATE()
);

CREATE INDEX: Is used to create indexes in tables. Indexes are used to retrieve data from the database more quickly than otherwise.

CREATE INDEX idx_lastname
ON Persons (LastName);

AUTO INCREMENT: Is used to automate a unique value for a column when a new record is inserted.

CREATE TABLE Persons (
    Personid int NOT NULL AUTO_INCREMENT,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    PRIMARY KEY (Personid)
);


DATA TYPE: Data type of a column determines the type of data a column can hold. We have the following data type in a data column; Integer, Varchar, Money, Date $ Time, Binary, e.t.c

CONCAT add two or more expressions together.
CONCAT WS add two or more expressiond together with a seperator

MYSQL EDITOR: Is using my SQL online editor to edit SQL statement and view result on the browser.


DIFFERENCE BETWEEN 'ORDER BY' AND 'GROUP BY':

The ORDER BY clause sorts the query output in either ascending (1 to 10, A to Z) or descending (10 to 1, Z to A) order

The GROUP BY clause is used to group rows of data based on one or more specified columns.
It is commonly used with SQL aggregate functions (such as COUNT, SUM, AVG, MIN, and MAX) to compute statistics for a group of rows.



PRACTICAL WITH SYNTAX ON MYSQL;


1.  -- How to create table on sql:

CREATE TABLE Project1(
PROJECT_ID INT,
FIRST_NAME VARCHAR(50),
LAST_NAME VARCHAR(50),
PROJECT_TYPE VARCHAR(200),
PROJECT_COST INT,
AMOUNT_CHARGED INT,
PROJECT_DATE DATE
);

2.  -- How to view table created:

select * from Project1;

3.  -- Rename table from PROJECT1 TO FIRST_PROJECT --

RENAME table PROJECT1 TO FIRST_PROJECT;

4. -- How to delete a table --

DROP table FIRST_PROJECT;

-- A TABLE DELETED CAN NOT BE RETRIEVED, SO BE SURE YOU REALLY NEED TO DELETE THE TABLE --

5.  -- How to ADD a column to table --

ALTER TABLE PROJECT1
ADD column PROJECT_YEAR DATE;

6.  -- How to rename column --
ALTER TABLE PROJECT1
RENAME COLUMN PROJECT_YEAR TO COUNTRY;

7.  -- How to MODIFY a column --
ALTER TABLE PROJECT1
MODIFY COLUMN COUNTRY VARCHAR(100);

8.  -- Change column position --
alter table PROJECT1
MODIFY PROJECT_COST INT
AFTER AMOUNT_CHARGED;